.masked__wrapper{
    text-align: center;
}

.masked__header{
    font-size: 30px;
}
.input__wrapeer{
    margin:0 auto;
    position: relative;
    height: 25px;
    width: 300px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
}
.masked__input{
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    background-color: red;
    outline: none;
}
.span{
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}