.modal__wrapper{
    width: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #c7c3c3;
}
.closeBtn{
    position: absolute;
    cursor:pointer;
    right: 20px;
    top: 7px;
    font-size: 25px;
    padding: 5px;
    border:none;
    border-radius: 20px;
}
.closeBtn:hover{
    color:red;
}

.modal__header{
    font-weight: 700;
    padding: 10px;
    color: rgb(252, 252, 252);
    background-color: gray;
    padding: 10px;
}
.modal__content{
    padding: 10px;
    display: flex;
}
.content__description{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.content__title{
    text-align: center;
}
.content__text{
    text-align: center;
    font-weight: 400;
}
.input__group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input__field{
    padding: 13px;
    border: 1px solid black;
    outline: none;
    font-size: 15px;
    width: 100%;
}

.input__btn{
    transition: all .1s linear;
    cursor: pointer;
    color: white;
    font-weight: 700;
    padding: 13px;
    border: none;
    font-size: 15px;
    width: 100%;
    background-color: black;
}
.input__btn:hover{
    transform: scale(1.03);
}